<h1 class="header">Articles</h1>

<ul>
    <% @articles.each do |article| %>
      <div class="article-column">
        <div class="card">
          <h1><%= link_to article.title, article, class: "article-title pretty-font"%></h1>
        </div>
      </div>
    <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
